# Игнорировать файлы и папки с конфиденциальными данными
.env

# Игнорировать папку с загружаемыми файлами
/uploads

# Игнорировать временные файлы Python
*.pyc
__pycache__/

# Игнорировать базу данных SQLite
vidgalaxy.db
